
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topBar{
    height: 75px;
    width: 100%;
    position: relative;
    top: 0px;
    display: flex;
}

.topBarItems{
    position: absolute;
    right: 0px;
    width: auto;
    height: 100%;
}

.topBarButton{
    height: 100%;
    width: 150px;
    background-color: #add8e6;
    border: solid 2px black;
    color: white;
    font-size: 15px;
}

.topBarButton:hover{
    cursor: pointer;
    background-color: #80a0aa;
}

.topBarButton:active{
    background-color: #357f97;
}

.welcomeDiv{
    background: white;
    font-size: 60px;
    width: auto;
    height: 100px;
    margin-left: 12%;
}

.todaysText{
    font-size: 30px;
    margin-left: 12%;
}

.filter{
    margin-left: 10%;
}

.filterButton{
    display: inline-block;
    width: 200px;
    height: 30px;
    margin-right: 25px;
    background-color: #d7d7d7;
    border-radius: 50px;
}

.filterButton:hover{
    cursor: pointer;
    background-color: #b1b1b1;
}

.filterButton:active{
    background-color: #6b6a6a;
}

.filterLabel{
    position: relative;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
    
}

.filterIcon{
    width: 25px;
    position: relative;
    left: 80%;
    bottom: 56%;
}

.filterOption{
    text-align: center;
    padding: 7px;
    margin: 10px;
    background-color: #d7d7d7;
    border-radius: 100px;

}

.Category, .Duration, .Order{
    background-color: #b1b1b1;
    width: 200px;
    height: 185px;
    position: absolute;
    visibility: hidden;
    z-index: 100;
    border-radius: 20px;
}

.Duration{
    left: calc(10% + 235px);
    height: 200px;
}

.Order{
    left: calc(10% + 465px);
    height: 145px;
}

.filterOption:hover{
    cursor: pointer;
    background-color: #b1b1b1;
}

.filterOption:active{
    background-color: #6b6a6a;
}

.exercise{
    background-color: #add8e6;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 15px;
}

.exercise:hover{
    cursor: pointer;
    background-color: #80a0aa;
}

.exercise:active{
    background-color: #357f97;
}

.exerciseDetails{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: white;
    border-radius: 40px;
    visibility: hidden;
    z-index: 2;
}


.exerciseImg{
    height: 100%;
    position: relative;
    top: 0%;
    z-index: 0;
}

.exerciseLabel, .exerciseCount, .exercieSets{
    align-self: center;
    color: white;
}

.blackBackground{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: black;
    z-index: 1;
    visibility: hidden;
}

.detailsImage-pushups{
    height: 100%;
    position: relative;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    
}

.details{
    position: absolute;
    z-index: 3;
    right: 30px;
    background-color: #add8e6;
    width: 400px;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border-radius: 25px;
}


.details h1{
    text-align: center;
    margin-top: 50px;
}

.details p{
    font-size: x-large;
    padding: 30px;
    text-align: center;
}

.exitButton{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2vh;
    right: -2vh;
    border: 2px solid black;
}

.exitButton:hover{
    background-color: #b1b1b1;
    cursor: pointer;
}

.exitButton:active{
    background-color: #6b6a6a;
}

.exitButton img{
    width: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
